/*
#main {
	right: 0px;
	width: 768px;
	bottom: 0px;
	top: 0px;
	position: absolute;
}
*/
#viewport {
background-color: white;
	position:absolute;
	width: 768px;
	top:38px;
	bottom: 58px;
	right: 0px;
	left: 256px;
	padding:0px;
	overflow-y:auto;
}
#journal {
	display: none;
	border-right-color: #333333;
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #cccccc;
	width: 256px;
	bottom: 58px;
	top: 38px;
	left: 50%;
	margin-left: -513px;
	position: absolute;
}
#journal h1 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	padding-bottom: 3px;
	padding-top: 3px;
	margin: 0px;
	display: block;
	font-size: 18px;
	background-color: black;
	color: white;
	text-align: center;
}

#journal-button {
	display: none;
}
textarea#entry {
margin: 0px;
height: 450px;
width: 257px;
padding: 0px;
-webkit-border-radius:0px;
}