/*
#main {
	margin-left: -384px;
	right: auto;
	left: 50%;
	width: 768px;
	bottom: 0px;
	top: 0px;
	position: absolute;
}
*/
#viewport {
	background-color: white;
	position:absolute;
	width: 768px;
	top:38px;
	bottom: 58px;
	left: 50%;
	margin-left: -384px;
	padding:0px;
	overflow-y:auto;

}
#journal {
	display: none;
	border-color: #333333;
	border-width: 1px;
	border-style: solid;
	background-color: #cccccc;
	width: 300px;
	bottom: 100px;
	top: 50px;
	left: 15px;
	position: absolute;
	-moz-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px;	
	
	
}

#journal h1 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	padding-bottom: 3px;
	padding-top: 3px;
	margin: 0px;
	display: block;
	font-size: 18px;
	background-color: black;
	color: white;
	text-align: center;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius: 8px 8px 0px 0px;
	
}

#journal-button {
	width: 100px;
	top: 4px;
	left: 4px;
	position: absolute;
}
textarea#entry {
margin: 0px;
height: 700px;
width: 302px;
padding: 0px;
margin-left:-1px;
-webkit-border-radius:0px;

}
