html {
	-webkit-text-size-adjust:auto;
	overflow: hidden;	
}
body {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	font-size: 17px;
	font-family: "Times New Roman", Georgia, Times, serif;
	padding: 0px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
}
p {
	font-family: "Times New Roman", Georgia, Times, serif;
}
#header {
	right: 0px;
	left: 0px;
	top: 0px;
	position: absolute;
	padding-left: 0px;
	padding-bottom: 10px;
	padding-right: 0px;
	padding-top: 10px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	height:17px;
	font-weight: bold;
	color: white;
	background-color: #708bb8;
	text-shadow: 0px 1px 0px black;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#708bb8), to(#1c426a));
    background-image: -moz-linear-gradient(#708bb8,#1c426a);
    text-align:center;
    border-bottom: 1px black solid;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    
}
#viewport {
background-color: white;
	position:absolute;
/* 	width: 768px; */
/* width: 100%; */
	top:38px;
	bottom: 58px;
	left:0px;
	right:0px;
	/*
left: 50%;
	margin-left: -384px;
*/
	padding:0px;
	overflow-y:auto;
	overflow-x:auto;
}
a.btn {
	margin: 5px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding-left: 10px;
	padding-bottom: 6px;
	padding-right: 10px;
	padding-top: 6px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	line-height: 14px;
	color: #1c426a;
	text-shadow: #fff 0 1px 0;
	background-image: -webkit-gradient(linear,left top,left bottom, from(#ffffff), to(#cccccc));
	background-image: -moz-linear-gradient(#ffffff, #cccccc);
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    cursor: pointer;
  	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	
}
a.btn:hover {
background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, #ffffff),color-stop(1, #cccccc));
background-image: -moz-linear-gradient(#ffffff, #cccccc);

}
a.btn:active {
background-image: -moz-linear-gradient(top, #999999, #ffffff);
top: 1px;
                                                              
position: relative;
                                                              
background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, #999999),color-stop(1, #ffffff));
color: black;
}

#logoutFromMenu {
	right: 0px;
	top: 0px;
	position: absolute;
}
#main {
	min-width: 700px;
	max-width: 1280px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	top: 0px;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}
.blockButton {
	display: block;
}
#ajax {
	z-index: 7;
	text-align: center;
	display: none;
	right: 0px;
	bottom: 0px;
	position: fixed;
	width: 220px;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	color: white;
	background-color: black;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	opacity: 0.6;
	padding:5px;
}
 .close-icon {
	position: absolute;
	top: -15px;
	left: -15px;
	width: 32px;
	height: 32px;
	background: url('../img/close-icon.png') top left no-repeat;
	cursor: pointer;
	z-index: 6;
}
#popup {
	text-align: center;
	background-color: white;
	color: #333333;
	position: fixed;
	top: 25px;
	left: 25px;
	right: 25px;
	bottom: 25px;
	display: none;
	z-index: 6;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px;
	-moz-box-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
	
}

#popup h2 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	margin-top: -15px;
	margin-left: -15px;
	margin-right: -15px;
	font-weight: bold;
	font-size: 18px;
	padding: 10px;
	color: white;
	background-color: #708bb8;
	text-shadow: 0px 1px 0px black;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#708bb8), to(#1c426a));
    background-image: -moz-linear-gradient(#708bb8,#1c426a);
    text-align: center;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#popup span p {
	text-align: left;
	padding: 0px;
	margin: 0px;
}
#popup h4 {
	text-align: left;
	margin:0px;
}

#popup-content {
	padding: 15px;


}

#instructions {
	margin-right: -15px;
	padding-right: 15px;
	height: 500px;
	overflow-y: auto;
}

#fadebackground {
	position: fixed;
	display: none;  
	height:100%;  
	width:100%;  
	top:0;  
	left:0;  
	background-color:#000000;  
	z-index: 5; 
	opacity: 0.7;
}

#popup-content p,#popup-content ul, #popup-content h4 {
	text-align: left;
}

div.createdImage {
	display: inline-block;
	position: relative;
	color: white;
	height: 360px;
	width: 480px;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
}

img.image {
	position: absolute;

}

#assessment {
	
}

.assessment_item {
	position: relative;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	margin-left: 0px;
	margin-bottom: 3px;
	margin-right: 0px;
	margin-top: 3px;
	border-color: #cccccc;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
}

.assessment_item p {
	font-size: 14px;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}
.assessment_item h4 {
	margin: 0px;
}

.assessment_item span {
	font-weight: bold;
}

.get_options {
	display: none;
	background-image: url(../img/disclosure_bubble.png);
	background-size: 16px 16px;
	height: 16px;
	width: 16px;
	right: 5px;
	top: 5px;
	position: absolute;
	opacity: 0.5;
}

.options {
	display: none;
	border-width: 1px;
	right: 5px;
	top: 15px;
	position: absolute;
	border-color: #333333;
	border-style: solid;
	height: 100px;
	width: 100px;
}

#greeting {
	top:10px;
	right: 100px;
	position: absolute;
	float: right;
	z-index: 4;
	color: white;
}

#footer {
	font-weight: bold;
	right: 0px;
	left: 0px;
	color: white;
	font-size: 12px;
	font-family: sans-serif;
	height: 48px;
	padding: 5px;
	background-color: #323232;
	text-shadow: 0px 1px 0px black;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#000));
    background-image: -moz-linear-gradient(#333333,#000);
    text-align:center;
    border-top: 1px black solid;
    position: absolute;
    bottom: 0px;
    text-align: center;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    
}

#footer ul {
	padding: 0px;
	margin: 0px;
}

#footer li {
	width: 100px;
	text-align: center;
	margin: 0px;
	list-style-type: none;
	display: inline-block;
	padding: 5px;
	cursor: pointer;
	opacity: .6;
}

#footer li img {
	height: 25px;
	width: 25px;
}

#footer li a {
	text-decoration: none;
	color: white;
}

