div#tabular-data-table {
	display: inline-block;
	width: 65%;
	float: left;
	overflow:auto;
	position: absolute;
	top: 50px;
	left: 15px;
	bottom: 15px;
}
table#tabular-data, table#tabular-data td {
	font-size: 15px;
	text-align: left;
	padding: 3px;
	border-color: #333333;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	vertical-align: top;
}
table#tabular-data td.header {
	font-weight: bold;
}
table#tabular-data td.width-setter {
	width: 25px;
	text-align: center;
}
div#tabular-data-info {
	text-align: left;
	background-color: #cccccc;
	width:30%;
	display: inline-block;
	float:right;
	position: absolute;
	top: 50px;
	right: 15px;
	bottom: 15px;
	overflow: auto;	
}

div#tabular-data-info #inner {
	margin: 10px;
}

#term {
	margin: 10px;
	text-align: center;
}



table#tabular-data tr.clickable-item {
	cursor: pointer;
}

textarea {
width:96%;
height: 250px;
}



#new-term {
	right: 0px;
	top: 0px;
	z-index: 12;
	position: absolute;
}
